<!DOCTYPE html>
<html>
    <head>
        <title>SPR Economists</title>
        {% block global_style %}
        {% endblock global_style %}
    </head>

    <body>

    {% block menu_content %}
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        <a href="/gallery">Gallery</a>
      </li>
      <li>
        <a href="/contact-us">Contact Us</a>
      </li>
    </ul>
    {% endblock menu_content %}

    {% block main_content %}
    <div>
      <h1>No content provided</h1>
    </div>
    {% endblock main_content %}

    {% block footer_content %}
    <div>
    Society of Petroleum Resources Economists P.O. Box 282 Houston, TX 77001 USA
    Copyright 2015 Society of Petroleum Resources Economists. All Rights Reserved.
    </div>
    {% endblock footer_content %}

    </body>

</html>


