{% extends 'base.html' %}

{% block global_style %}
<style>
  dl { }
  dl dt {
    background: url('http://www.spreconomists.org/contact_files/image008.png') -90px 0 no-repeat;
    padding-left: 100px;
  }
  dl dd { padding-left: 100px; }
</style>
{% endblock global_style %}

{% block main_content %}

<p>The board will be happy to answer any request.</p>
<p>Feel free to contact the board member you deem the most relevant for the subject matter:</p>

<dl>

  <dt>
    Jean-Christophe Rovillain, 2015-2016 SPRE President
  </dt>
  <dd>Founder &amp; Managing Consultant at Enhanced Value Recovery (EVR)</dd>
  <dd>President@spreconomists.org</dd>

  <dt>
    Carl Larry, Communication &amp; Membership Development
  </dt>
  <dd>Director, Business Development, Consultant Oil &amp; Gas at Frost &amp; Sullivan</dd>
  <dd>Carl@spreconomists.org</dd>

  <dt>
    Thierry Rignol, Journal of Petroleum Resources Economics (JPRE)
  </dt>
  <dd>Oil &amp; Gas Strategy Consultant &amp; Entrepreneur at PacWest Consulting Partners</dd>
  <dd>Thierry@spreconomists.org</dd>

  <dt>
    Jean-Luc Romain, Vice President Europe
  </dt>
  <dd>Equity Analyst - European Oil sector Coordinator at CM-CIC Securities</dd>
  <dd>Jean-Luc@spreconomists.org</dd>

  <dt>
    Hoagie Merry, Student Chapters
  </dt>
  <dd>Graduate Petroleum Engineer - University of Houston</dd>
  <dd>Hoagie@spreconomists.org</dd>

  <dt>
    Christian Fitsch-Mouras, COO &amp; Sergeant-At-Arms
  </dt>
  <dd>Founder &amp; Managing consultant at Astute Development Solutions (ADS)</dd>
  <dd>VPadmin@spreconomists.org</dd>

</dl>

{% endblock main_content %}
