{% extends 'base.html' %}
{% load cms_tags %}

{% block main_content %}

<article class="pure-u-1 pure-u-sm-1 pure-u-md-5-5 pure-u-lg-5-5">

  {% placeholder base_content or %}

  <p>The Society of Petroleum Resources Economists (SPRE) is the first professional international organization specifically dedicated to the business side of the industry a.k.a. "Petroleum Economics" and our current focus is Exploration-Production.</p>

  <p>Countless professional organizations dedicated to various technical aspects of the industry do exist (AAPG, NOMADS, SEG, SPE, etc...). Now, if you have been searching, as we have, for a professional organization dedicated to the economic, financial and financial markets side of the Oil and Gas industry, this is it and we welcome you.</p>

  <p>Our vision? More efficiently linking economics, finance, financial markets with oil and gas exploration and production to achieve better integrated teams along the entire value chain as well as to attain superior stakeholder results and shareholder return maximization for the benefit of all.</p>

  <p>Our purpose it is to develop and maintain standards for the profession of Petroleum Resources Economist through knowledge sharing, training and best practice dissemination, and eventually to develop a certification system for its practitioners.</p>

  <p>The SPRE is (re)building creatively, connecting the dots, and forging the missing link between the following words: Society, Petroleum, Exploration, Production, Oil, Gas, Reserves, Resources, Risk, Return, Economics, Finance, Banking and Financial Markets and a few more.</p>

  <p>All in all, others have seen what is and asked why. We, at the SPRE have seen what could be and asked why not.</p>

  <p>Please check out our past and future meetings on the Events tab.</p>

  <p><a href="https://www.eventbrite.com/e/spre-2016-memberships-tickets-20668037657">Get your 2016 SPRE Membership</a></p>

  <p>The SPRE team</p>

  {% endplaceholder %}

</article>

{% endblock main_content %}
