{% load i18n cms_tags %}

<footer class="site-footer">

  <section>
    {% placeholder "site_footer" %}
  </section>

  <!--
     -<section>
     -  <h1>About</h1>
     -  <ul>
     -    <li></li>
     -  </ul>
     -</section>
     -->

  <!--section>
    <h1>{{ base_links.name }}</h1>
    <p>{{ base_links.description }}</p>

    {# get_links_for base_links as generic_links #}

    <ul>
    {# for link in generic_links #}
      <li>
        <a
          href="{{ link.url }}"
          title="{{ link.title }}"
        >
          {{ link.title }}
        </a>
      </li>
    {# endfor #}
    </ul>
  </section-->

  <!--
     -<section>
     -  <h1></h1>
     -  <ul>
     -    <li>
     -    
     -    </li>
     -  </ul>
     -</section>
     -->

</footer><!-- End .site-footer -->
