{% load i18n cms_tags %}
{% load url from future %}
<meta
  property="twitter:card"
  content="summary"
/>
<meta
  property="twitter:site"
  content="ellemac"
/>
<meta
  property="twitter:url"
  content="http://laurenmcman.us"
/>
<meta
  property="twitter:title"
  content="{% page_attribute "page_title" %}"
/>
<meta
  property="twitter:description"
  content="Houston-based Artist Lauren McManus"
/>
<meta
  property="twitter:creator"
  content=""
/>
<meta
  property="twitter:image:src"
  content="http://laurenmcman.us/static/img-ui/lauren-mcmanus-logo-og.png"
/>
